USE [master]
GO
/****** Object:  Database [datawarehouse1]    Script Date: 18/01/2025 20:00:08 ******/
CREATE DATABASE [datawarehouse1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'datawarehouse1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\datawarehouse1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'datawarehouse1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\datawarehouse1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [datawarehouse1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [datawarehouse1]
GO
/****** Object:  Table [dbo].[consultation]    Script Date: 18/01/2025 20:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultation](
	[id] [int] NOT NULL,
	[iddoctor] [int] NOT NULL,
	[idpatient] [int] NOT NULL,
	[iddate] [int] NOT NULL,
	[idlocation] [int] NOT NULL,
	[price] [decimal](10, 2) NULL,
	[duration] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datedimension]    Script Date: 18/01/2025 20:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datedimension](
	[iddate] [int] NOT NULL,
	[date] [date] NOT NULL,
	[day] [int] NOT NULL,
	[month] [int] NOT NULL,
	[year] [int] NOT NULL,
	[description] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[iddate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctordimension]    Script Date: 18/01/2025 20:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctordimension](
	[iddoctor] [int] NOT NULL,
	[doctor_first_name] [varchar](255) NOT NULL,
	[doctor_last_name] [varchar](255) NOT NULL,
	[doctor_full_name] [varchar](255) NULL,
	[age_range] [int] NULL,
	[speciality] [varchar](255) NULL,
	[experience] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iddoctor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locationdimension]    Script Date: 18/01/2025 20:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locationdimension](
	[idlocation] [int] NOT NULL,
	[hospital_name] [varchar](255) NOT NULL,
	[city] [varchar](255) NOT NULL,
	[country] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idlocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patienttdimension]    Script Date: 18/01/2025 20:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patienttdimension](
	[idpatient] [int] NOT NULL,
	[person_first_name] [varchar](255) NOT NULL,
	[person_last_name] [varchar](255) NOT NULL,
	[person_full_name] [varchar](255) NULL,
	[person_age_range] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[marital_status] [varchar](50) NULL,
	[job] [varchar](255) NULL,
	[weight_range] [varchar](50) NULL,
	[practice_sport] [varchar](50) NULL,
	[smokes] [tinyint] NULL,
	[alcohol] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idpatient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
